<%- include partials/header.ejs %>

<%- include partials/main-nav.ejs %>

<main class="container">
  <div class="row">
    <div class="text-center col-md-12">
      <h1><%- title %></h1>

      <table class="table table-bordered table-striped table-hover">
        <tr class="d-flex">
          <th class="text-center col-2">Creator</th>
          <th class="text-center col-2">Title</th>
          <th class="text-center col-6">Expires</th>
          <th class="text-center col-2">Operations</th>
        </tr>

        <% for(let count=0; count < SurveyList.length; count++) { %>
          <tr class="d-flex">
            <td class="text-center col-2"><%= SurveyList[count].author %></td>
            <td class="text-center col-2"><%= SurveyList[count].surveyName %></td>
            <td class="text-center col-6"><%= SurveyList[count].expirationDate %></td>
            <td class="text-center col-1">
              <a href="survey-list/update/<%=SurveyList[count]._id%>" class="btn btn-outline-secondary">Update</a>
            </td>
            <td class="text-center col-1">
              <a href="/survey-list/delete/<%=SurveyList[count]._id%>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        <% } %>
      </table>

      <a href="survey-list/add" class="btn btn-primary">Add a survey</a>
    </div>
  </div>
</main>

<%- include partials/bottom-nav.ejs %> 

<%- include partials/footer %>


    

