<%- include partials/header.ejs %>

  <%- include partials/main-nav.ejs %>

    <main class="container">
      <div class="row mt-5">
        <div class="text-center col-md-12 mt-5">
          <h1>
            <%- title %>
          </h1>

          <table class="table table-bordered table-striped table-hover mt-5"
            style="background-color: #91A5B5; border-radius: 20px;">
            <tr class="d-flex">
              <th class="text-center col-3">Creator</th>
              <th class="text-center col-3">Title</th>
              <th class="text-center col-3">Expires</th>
              <th class="text-center col-3">Operations</th>
            </tr>

            <% for(let count=0; count < SurveyList.length; count++) { %>
              <tr class="d-flex">
                <td class="text-center col-3">
                  <%= SurveyList[count].username %>
                </td>
                <td class="text-center col-3">
                  <%= SurveyList[count].surveyName %>
                </td>
                <td class="text-center col-3">
                  <%= SurveyList[count].expirationDate %>
                </td>
                <td class="text-center col-3">
                  <a href="respond/<%= SurveyList[count]._id %>" class="btn btn-warning">Respond</a>
                </td>
                
              </tr>
              <% } %>
          </table>
        </div>
      </div>
    </main>

    <%- include partials/bottom-nav.ejs %>

      <%- include partials/footer %>
