<%- include partials/header.ejs %>

  <%- include partials/main-nav.ejs %>

<main class="container" style="text-align: center;">

<h1><%= title %></h1>

<% x = 0 %>
<form class="form" method="POST">

  <% for(let count = 0; count < QuestionList.length; count++) { %>

    <br><br>
  
    <h3><%= QuestionList[count].surveyQuestion %></h3>
    <br>
      <% if(QuestionList[count].multipleChoice == true) { %>
    <% for(let x = 0; x < OptionList.length; x++) { %>

      <% if(OptionList[x].questionID == QuestionList[count]._id){ %>
      
        <input type="radio" name="<%=count %>" id="test" value="<%= OptionList[x].optionsText %>"><%= OptionList[x].optionsText %></input>
        <br>

        <% } %>
    <% } %>
  <% } else { %>

    <input type="text" name="shortAnswer<%=count%>"></input>

    <% } %>

  <% } %>
<br>
  <button style="margin-top: 30px;" type="submit">Submit Survey</button>

</form>
</main>

<%- include partials/bottom-nav.ejs %> 

<%- include partials/footer %>
