<%- include ../partials/header.ejs %>
<%- include ../partials/main-nav.ejs %>

<!--Add Page-->
<main>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h1><%= title %></h1>
                <!-- Form for adding survey information -->
                <form class="form" method="POST">
                    <div class="form-group">
                        <label for="nameTextField">Survey Name</label>
                        <input type="text" class="form-control" id="nameTextField" placeholder="Enter Survey Name" name="surveyName" required>
                    </div>
                    <div class="form-group">
                        <label for="authorTextField">Author</label>
                        <input type="text" class="form-control" id="authorTextField" placeholder="Enter Author" name="author" required>
                    </div>
                    <div class="form-group">
                        <label for="dateTextField">Expiration Date</label>
                        <input type="text" class="form-control" id="dateTextField" placeholder="Enter Expiration Date" name="expirationDate" required>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i> Submit
                    </button>
                    <a href="/home" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</a>
                        </form>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom-nav.ejs %>
<%- include ../partials/footer.ejs %>