<%- include ../partials/header.ejs %>
<%- include ../partials/main-nav.ejs %>

<!--Add Page-->
<main>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h1>
                    <%= title %>
                </h1>
                
                <form class="form" method="POST">
                    <div class="form-group">
                        <label for="questionTextField">Question</label>
                        <input type="text" class="form-control" id="questionTextField" value="<%= question.surveyQuestion %>" name="surveyQuestion"  required pattern=".*\S+.*"title="field cannot be blank" >
                    </div>
   
                    <div class="form-group">
                        <label for="optiontext">Selection 1</label>
                        <input type="text" class="form-control" name="optiontext" value="<%= OptionList[0].optionsText %>" id="TextField1"    required pattern=".*\S+.*"title="field cannot be blank" >
                    </div>
                    <div class="form-group">
                        <label for="optiontext">Selection 2</label>
                        <input type="text" class="form-control" name="optiontext" value="<%= OptionList[1].optionsText %>" id="TextField2"   required pattern=".*\S+.*"title="field cannot be blank" >
                    </div>
                    <div class="form-group">
                        <label for="optiontext">Selection 3</label>
                        <input type="text" class="form-control" name="optiontext" value="<%= OptionList[2].optionsText %>" id="TextField3"   required pattern=".*\S+.*" title="field cannot be blank">
                    </div>
                    <div class="form-group">
                        <label for="optiontext">Selection 4</label>
                        <input type="text" class="form-control" name="optiontext" value="<%= OptionList[3].optionsText %>" id="TextField4"  required pattern=".*\S+.*"title="field cannot be blank" >
                    </div>
               
                    <br>
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-save"></i> Submit
                    </button>
                    <a href="/home" class="btn btn-danger"><i class="fas fa-undo"></i> Cancel</a>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom-nav.ejs %>
<%- include ../partials/footer.ejs %>
