<%- include ../partials/header.ejs %>
<%- include ../partials/main-nav.ejs %>

<!-- Update page -->
<main>
    <div class="container">
        <div class="glass row">
            <div class="offset-md-3 col-md-6">
                <h1><%= title %></h1>
                <!-- Form for updating survey info -->
                <form class="form" method="POST">
                    <div class="form-group">
                        <label for="nameTextField">Survey Name</label>
                        <input type="text" class="form-control" id="nameTextField" placeholder="Enter Survey Name"
                            name="surveyName" value="<%=survey.surveyName%>"required pattern=".*\S+.*" title="field cannot be blank">
                    </div>
                    <div class="form-group">
                        <label for="dateTextField">Start Date</label>
                        <input placeholder="Enter Start Date" class="textbox-n form-control" type="text" onfocus="(this.type='date')"
                            onblur="(this.type='text')" id="dateTextField" name="startDate" value="<%=survey.startDate%>" required />
                    </div>
                    <div class="form-group">
                        <label for="dateTextField">Expiration Date</label>
                        <input placeholder="Enter Expiration Date" class="textbox-n form-control" type="text" onfocus="(this.type='date')"
                            onblur="(this.type='text')" id="dateTextField" name="expirationDate" value="<%=survey.expirationDate%>" required />
                    </div>
                    <br>
                    <button class="btn btn-primary btn-sm" formaction='/survey-list/update/<%=survey._id%>'>
                        <i class="fas fa-save"></i> Save
                    </button>
                    <a href="/survey-list/delete/<%=survey._id%>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Delete</a>
                    <a href="/survey-list" class="btn btn-warning btn-sm"><i class="fas fa-undo"></i> Cancel</a>
                    <br> 
                    <br>
                    <% if(survey.isPublished != true) { %>

                        <button class="btn btn-warning" formaction="/survey-list/publishSaved/<%=survey._id%>">
                            Publish
                        </button>
                         <br>
                        <% } else { %>
                            <button class="btn btn-warning" formaction="/survey-list/unpublish/<%=survey._id%>">
                                Unpublish
                            </button>
                             <br>
                             <% } %>
                   
                    <br>
                    <hr style="height:5px">                   
                    <a href="/survey-list/question/<%=survey._id%>" class="btn btn-secondary btn-sm">Add Fill in Blank Question</a>
                    <a href="/survey-list/MCquestion/<%=survey._id%>" class="btn btn-secondary btn-sm">Add Multiple Choice Question</a>
              
                </form>
            </div>
        </div>
    </div>
    <h1 style="text-align: center; padding-bottom: 20px;"> Questions</h1>

    <table class="table table-bordered table-striped table-hover" style="margin-left: auto; margin-right: auto; margin-bottom: 100px; width: 50%;">
        <!-- Header Row-->
        <tr>
          <th style="width:9%" class="text-center">Question #</th>
          <th class="text-center">Text</th>          
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>           
        </tr>
        
        <!-- Repeatable Template Row-->
        <% for(let count = 0; count < QuestionList.length; count++) { %>
          <tr>
            <td class="text-center"><%- count + 1 %></td>
            <td class="text-center"><%- QuestionList[count].surveyQuestion %></td>                       
            <td class="text-center"><a href="/survey-list/updateQ/<%=QuestionList[count]._id%>" class="btn btn-warning btn-sm"><i class="fas fa-wrench"></i>Update</a></td>
            <td class="text-center"><a href="/survey-list/deleteQ/<%=QuestionList[count]._id%>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Delete</a></td>
            <% } %>
          </tr>
      </table>
</main>

<%- include ../partials/bottom-nav.ejs %>
<%- include ../partials/footer.ejs %>