<%- include ../partials/header.ejs %>
<%- include ../partials/main-nav.ejs %>

<!-- Update page -->
<main>
    <div class="container">
        <div class="glass row">
            <div class="offset-md-3 col-md-6">
                <h1><%= title %></h1>
                <!-- Form for updating survey info -->
                <form class="form" method="POST">
                    <div class="form-group">
                        <label for="nameTextField">Survey Name</label>
                        <input type="text" class="form-control" id="nameTextField" placeholder="Enter Survey Name"
                            name="surveyName" value="<%=survey.surveyName%>"required pattern=".*\S+.*" title="field cannot be blank">
                    </div>
                    <div class="form-group">
                        <label for="dateTextField">Expiration Date</label>
                        <input placeholder="Enter Expiration Date" class="textbox-n form-control" type="text" onfocus="(this.type='date')"
                            onblur="(this.type='text')" id="dateTextField" name="expirationDate" value="<%=survey.expirationDate%>" required />
                    </div>
                    
                    <button class="btn btn-primary btn-sm" type="submit">
                        <i class="fas fa-save"></i> Submit
                    </button>
                    <a href="/survey-list/delete/<%=survey._id%>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Delete</a>
                    <a href="/survey-list" class="btn btn-warning btn-sm"><i class="fas fa-undo"></i> Cancel</a>
                    <br>
                    <br>
                    <br>
                    <hr style="height:5px">
                    <a href="/survey-list/question/<%=survey._id%>" class="btn btn-secondary btn-sm">Add Questions</a>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom-nav.ejs %>
<%- include ../partials/footer.ejs %>