<%- include ../partials/header.ejs %>
<%- include ../partials/main-nav.ejs %>
 <h1> Survey Questions </h1>
<main class="container">
  <div class="row">
    <div class="text-center col-md-2">
      <!-- NOT PRETTY!  JUST PROOF OF CONCEPT-->
      <form class="form" method="POST">
        <div class="form-group">
          <% for(let count=0; count < QuestionList.length; count++) { %>
            <h3>Question <%= count + 1 %></h3>
          <input type="text" name="surveyQuestion" value="<%= QuestionList[count].surveyQuestion %>"></input>
          <a href="/survey-list/updateQ/<%=QuestionList[count]._id%>" class="btn btn-warning btn-sm">Update</a>          
          <a href="/survey-list/deleteQ/<%=QuestionList[count]._id%>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Delete</a>
          <% } %>
        </div>
      </form>
      
    </div>
  </div>
</main>

<%- include ../partials/bottom-nav.ejs %>
<%- include ../partials/footer.ejs %>
